#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background: {
    image: url(https://marcbruederlin.github.io/particles.js/img/background.jpg);
    position: bottom;
    repeat: no-repeat;
    color: black;
    size: cover;
  }
}